<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><strong>Time</strong></th>  
      <th scope="col"><strong>Rehearsal</strong></th>  
      <th scope="col"><strong>Venue</strong></th>
      <th scope="col">
        <strong>
          <%= link_to "Add Rehearsal", new_rehearsal_path, class: "btn btn-sm btn-primary" %>
        </strong>
      </th> 
    </tr>
  </thead>
  <% @rehearsals.each do |rehearsal| %>
  <tr>
    <td><%= rehearsal.time.strftime("%B %-d, %Y") %> at <%= rehearsal.time.strftime("%k:%M")%></td>
    <td><%= link_to rehearsal.event.name, rehearsal_path(rehearsal) %></td>
    <td><%= rehearsal.venue %></td>
    <td>
    <%= form_for rehearsal, method: :delete do |f| %>
      <%= f.submit "Delete" %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>