<div class="card w-50 mx-auto">
  <div class="card-body">
    <h5 class="card-title">Rehearsal for <%= @rehearsal.event.name %></h5>
    <p class="card-text"><%= @rehearsal.time.strftime("%B %-d, %Y") %> at <%= @rehearsal.time.strftime("%k:%M")%></p>
    <p class="card-text"><%= @rehearsal.venue %></p>
    <%= link_to "Back", rehearsals_path(@rehearsal), class: "btn btn-sm btn-secondary" %>
    <%= link_to "Edit", edit_rehearsal_path(@rehearsal), class: "btn btn-sm btn-primary" %>
    <br></br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"><strong>Student Name</strong></th>  
          <th scope="col"><strong>Attending</strong></th>
          <!--<th scope="col"><strong>Attended</strong></th>-->
        </tr>
      </thead>
      <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.name, student_path(student) %></td>
        <td>
        <!--Toggle value of 'going' boolean-->
        <% if @rehearsal.students_attending.include?(student) %>
          <%= render partial: "going_to_rehearsal", locals: { student_id: student.id, going: false, button_text: "Yes"} %>
        <% else %>
          <%= render partial: "going_to_rehearsal", locals: { student_id: student.id, going: true, button_text: "No" } %>
        <% end %>
        </td>
        <td>
        <!--Toggle value of 'went' boolean-->
        <%# if @rehearsal.students_attended.include?(student) %>
          <%#= render partial: "went_to_rehearsal", locals: { student_id: student.id, went: false, button_text: "Yes"} %>
        <%# else %>
          <%#= render partial: "went_to_rehearsal", locals: { student_id: student.id, went: true, button_text: "No"} %>
        <%# end %>
        </td>
      </tr>
      <% end %>
    </table>
  
    <h3>Comment Here</h3>
    <%= form_for @rehearsal.comments.build do |f| %>
    <%= f.text_field :content %>
    <%= f.collection_select :student_id, current_user.students.all, :id, :name %>
    <%= f.hidden_field :rehearsal_id %>
    <%= f.submit %>
    <% end %>
    
    <h3>Comments</h3>
    <% @rehearsal.comments.each do |comment| %>
      <% if !comment.student.nil? %>
        <p><%= comment.student.name %> says: <%= comment.content %></p>
      <% end %>
    <% end %>
  </div>
</div>