<tr class="student-record" data-id="<%= student.id %>">
  <td><%= student.name %></td>
  <td><%= student.email %></td>
  <td><%= link_to "View", student_path(student) %></td>
  <td><%= link_to "Edit", edit_student_path(student) %></td>
  <td>
  <%= form_for student, method: :delete do |f| %>
      <%= f.submit "Delete" %>
  <% end %>
  </td>
</tr>
